# Age & Lignes en doubles

In [1]:
!wget https://raw.githubusercontent.com/lbenyamin/Skoot/main/Datasets/After_Concatenisation_Whoscored/Defensive_Whoscored_Data.csv
!wget https://raw.githubusercontent.com/lbenyamin/Skoot/main/Datasets/After_Concatenisation_Whoscored/Offensive_Whoscored_Data.csv
!wget https://raw.githubusercontent.com/lbenyamin/Skoot/main/Datasets/After_Concatenisation_Whoscored/Passing_Whoscored_Data.csv
!wget https://raw.githubusercontent.com/lbenyamin/Skoot/main/Datasets/After_Concatenisation_Whoscored/Summary_Whoscored_Data.csv

--2023-03-23 13:48:37--  https://raw.githubusercontent.com/lbenyamin/Skoot/main/Datasets/After_Concatenisation_Whoscored/Defensive_Whoscored_Data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2989693 (2.9M) [text/plain]
Saving to: ‘Defensive_Whoscored_Data.csv’

Defensive_Whoscored 100%[===================>]   2.85M  --.-KB/s    in 0.07s

2023-03-23 13:48:38 (43.4 MB/s) - ‘Defensive_Whoscored_Data.csv’ saved [2989693/2989693]

--2023-03-23 13:48:38--  https://raw.githubusercontent.com/lbenyamin/Skoot/main/Datasets/After_Concatenisation_Whoscored/Offensive_Whoscored_Data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3099785 (3.0M) [text/plain]
Saving to: ‘Offensive_Whoscored_Data.csv’

Offensive_Whoscored 100%[===================>]   2.96M  --.-KB/s    in 0.07s

2023-03-23 13:48:38 (44.4 MB/s) - ‘Offensive_Whoscored_Data.csv’ saved [3099785/3099785]

--2023-03-23 13:48:38--  https://raw.githubusercontent.com/lbenyamin/Skoot/main/Datasets/After_Concatenisation_Whoscored/Passing_Whoscored_Data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2937458 (2.8M) [text/plain]
Saving to: ‘Passing_Whoscored_Data.csv’

Passing_Whoscored_D 100%[===================>]   2.80M  --.-KB/s    in 0.07s

2023-03-23 13:48:38 (42.1 MB/s) - ‘Passing_Whoscored_Data.csv’ saved [2937458/2937458]

--2023-03-23 13:48:38--  https://raw.githubusercontent.com/lbenyamin/Skoot/main/Datasets/After_Concatenisation_Whoscored/Summary_Whoscored_Data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2852235 (2.7M) [text/plain]
Saving to: ‘Summary_Whoscored_Data.csv’

Summary_Whoscored_D 100%[===================>]   2.72M  --.-KB/s    in 0.07s

2023-03-23 13:48:39 (41.4 MB/s) - ‘Summary_Whoscored_Data.csv’ saved [2852235/2852235]

## Process final

In [6]:
import pandas as pd
!wget https://raw.githubusercontent.com/lbenyamin/Skoot/main/Datasets/After_Scrap_FBref/FBREF_dataset_full.csv
df = pd.read_csv("FBREF_dataset_full.csv")
df.head()

,Unnamed: 0,Team,Player,Nation,Position,Age,Born,Match played,Starting Player,avg playing time per game,...,Win,Draw,Loose,No-goal game allowed,No-goal game allowed percentage,Penalty Kick attempted against,Penalty allowed,Penalty saved,Penalty missed,Save percentage on penalty
0,0,Alavés,Adrián Diéguez,ESP,Defender,21,1996,6,6,4.8,...,0,0,0,0,0.0,0,0,0,0,0.0
1,1,Alavés,Aleksandar Katai,SRB,"Midfielder, Defender",26,1991,3,0,0.6,...,0,0,0,0,0.0,0,0,0,0,0.0
2,2,Alavés,Alexis,ESP,Defender,31,1985,28,25,24.3,...,0,0,0,0,0.0,0,0,0,0,0.0
3,3,Alavés,Alfonso Pedraza,ESP,"Midfielder, Defender",21,1996,33,27,27.1,...,0,0,0,0,0.0,0,0,0,0,0.0
4,4,Alavés,Antonio Sivera,ESP,Goalkeeper,20,1996,1,1,0.7,...,0,0,0,0,0.0,0,0,0,0,0.0

In [7]:
import pandas as pd
df = pd.read_csv("FBREF_dataset_full.csv")
# Créer un nouveau DataFrame avec les colonnes souhaitées
df_nouveau = pd.DataFrame({
    "Player": df["Player"],
    "Born": df["Born"]
})

# Afficher le nouveau DataFrame
print(df_nouveau)
# Enregistrer le dataframe modifié dans un nouveau fichier CSV
df_nouveau.to_csv('nom_annee.csv', index=False)

                 Player  Born
0        Adrián Diéguez  1996
1      Aleksandar Katai  1991
2                Alexis  1985
3       Alfonso Pedraza  1996
4        Antonio Sivera  1996
...                 ...   ...
10972     Sergio Romero  1987
10973     Sofian Kiyine  1997
10974   Tanner Tessmann  2001
10975      Thomas Henry  1994
10976    Tyronne Ebuehi  1995

[10977 rows x 2 columns]

In [8]:
df_nom_annee = pd.read_csv('nom_annee.csv')
df_nom_annee = df_nom_annee.rename(columns={'Player': 'Name'})
df_nom_annee

                   Name  Born
0        Adrián Diéguez  1996
1      Aleksandar Katai  1991
2                Alexis  1985
3       Alfonso Pedraza  1996
4        Antonio Sivera  1996
...                 ...   ...
10972     Sergio Romero  1987
10973     Sofian Kiyine  1997
10974   Tanner Tessmann  2001
10975      Thomas Henry  1994
10976    Tyronne Ebuehi  1995

[10977 rows x 2 columns]

In [40]:
import pandas as pd

# Lecture des fichiers CSV
df_offensive = pd.read_csv('Offensive_Whoscored_Data.csv')
df_passing = pd.read_csv('Passing_Whoscored_Data.csv')
df_summary = pd.read_csv('Summary_Whoscored_Data.csv')
df_defensive = pd.read_csv('Defensive_Whoscored_Data.csv')

# Création d'une liste de datasets
datasets = [df_offensive, df_passing, df_summary, df_defensive]

# Lecture du fichier contenant les informations de naissance
df_nom_annee = pd.read_csv('nom_annee.csv')
df_nom_annee = df_nom_annee.rename(columns={'Player': 'Name'})

# Fonction pour mettre à jour la colonne "Born" et "Age"
def update_dataset(df):
    df = pd.merge(df, df_nom_annee[['Name', 'Born']], on='Name', how='left')
    df_with_na = df[df['Born'].isnull()]
    df_with_na["Born"] = df_with_na.apply(lambda x: 2018 - x["Age"] if x["Saison"] < 2019 else 2022 - x["Age"], axis=1)
    df["Born"] = df["Born"].fillna(df_with_na["Born"])
    df["Age"] = df.apply(lambda x: x["Saison"] - x["Born"], axis=1)
    #df = df_born
    return df

# Boucle pour appliquer la fonction à chaque dataset de la liste "datasets"
for i in range(len(datasets)):
    datasets[i] = update_dataset(datasets[i])

<ipython-input-40-431031d55707>:4: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_offensive = pd.read_csv('Offensive_Whoscored_Data.csv')
<ipython-input-40-431031d55707>:5: DtypeWarning: Columns (6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_passing = pd.read_csv('Passing_Whoscored_Data.csv')
<ipython-input-40-431031d55707>:6: DtypeWarning: Columns (6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_summary = pd.read_csv('Summary_Whoscored_Data.csv')
<ipython-input-40-431031d55707>:7: DtypeWarning: Columns (6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_defensive = pd.read_csv('Defensive_Whoscored_Data.csv')
<ipython-input-40-431031d55707>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_na["Born"] = df_with_na.apply(lambda x: 2018 - x["Age"] if x["Saison"] < 2019 else 2022 - x["Age"], axis=1)
<ipython-input-40-431031d55707>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_na["Born"] = df_with_na.apply(lambda x: 2018 - x["Age"] if x["Saison"] < 2019 else 2022 - x["Age"], axis=1)
<ipython-input-40-431031d55707>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_na["Born"] = df_with_na.apply(lambda x: 2018 - x["Age"] if x["Saison"] < 2019 else 2022 - x["Age"], axis=1)
<ipython-input-40-431031d55707>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_na["Born"] = df_with_na.apply(lambda x: 2018 - x["Age"] if x["Saison"] < 2019 else 2022 - x["Age"], axis=1)

In [41]:
datasets[0]

,Name,Team,Age,Position,Apps,Minutes,Total goals,Total Assists,Shots per game,Key passes per game,Dribbles per game,Fouled per game,Offsides per game,Dispossessed per game,Bad control per game,Rating,League,Saison,Dribble,Born
0,James Milner,Aston Villa,24.0,"D(LR),M(CLR)",1,85,1,-,6,2,1,2,-,3,-,9.14,PremierLeague,2010,NaN,1986.0
1,James Milner,Aston Villa,24.0,"D(LR),M(CLR)",1,85,1,-,6,2,1,2,-,3,-,9.14,PremierLeague,2010,NaN,1986.0
2,James Milner,Aston Villa,24.0,"D(LR),M(CLR)",1,85,1,-,6,2,1,2,-,3,-,9.14,PremierLeague,2010,NaN,1986.0
3,James Milner,Aston Villa,24.0,"D(LR),M(CLR)",1,85,1,-,6,2,1,2,-,3,-,9.14,PremierLeague,2010,NaN,1986.0
4,James Milner,Aston Villa,24.0,"D(LR),M(CLR)",1,85,1,-,6,2,1,2,-,3,-,9.14,PremierLeague,2010,NaN,1986.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71885,Karlan Grant,West Brom,23.0,"AM(CL),FW",14(7),1133,1,0,0.8,0.1,NaN,0.6,0.3,0.8,1.5,6.15,PremierLeague,2020,0.4,1997.0
71886,Karlan Grant,West Brom,23.0,"AM(CL),FW",14(7),1133,1,0,0.8,0.1,NaN,0.6,0.3,0.8,1.5,6.15,PremierLeague,2020,0.4,1997.0
71887,Hal Robson-Kanu,West Brom,31.0,"AM(LR),FW",2(17),549,2,0,0.7,0.3,NaN,0.5,0.2,0.8,1.6,6.13,PremierLeague,2020,0.3,1989.0
71888,Hal Robson-Kanu,West Brom,31.0,"AM(LR),FW",2(17),549,2,0,0.7,0.3,NaN,0.5,0.2,0.8,1.6,6.13,PremierLeague,2020,0.3,1989.0
71889,Romaine Sawyers,West Brom,29.0,M(CL),17(2),1490,0,0,0.2,0.3,NaN,0.7,0.0,0.5,0.7,6.12,PremierLeague,2020,0.4,1991.0

## Drop les lignes en double

In [44]:
for i in range(len(datasets)):
    datasets[i] =  datasets[i].drop_duplicates()
datasets[2].loc[datasets[2].Name == 'Cristiano Ronaldo']

,Name,Team,Age,Position,Apps,Minutes,Total Goals,Total Assists,Yellow cards,Red cards,Shots per game,Pass success percentage,Aerials won per game,Man of the match,Rating,League,Saison,Born
9352,Cristiano Ronaldo,Man Utd,36.0,"M(L),FW",27(3),2459,18,3,8,0,3.7,81.9,1.4,5,7.11,LaLiga,2021,1985.0
16320,Cristiano Ronaldo,Juventus,33.0,"M(L),FW",30(1),2689,21,8,3,-,5.7,85.1,1.1,10,7.68,SerieA,2018,1985.0
24955,Cristiano Ronaldo,Man Utd,36.0,"M(L),FW",27(3),2459,18,3,8,0,3.7,81.9,1.4,5,7.11,PremierLeague,2021,1985.0
29707,Cristiano Ronaldo,Man Utd,34.0,"M(L),FW",27(3),2459,18,3,8,0,3.7,81.9,1.4,5,7.11,PremierLeague,2019,1985.0
32659,Cristiano Ronaldo,Real Madrid,30.0,"M(L),FW",36,3185,35,11,3,-,6.3,79.4,1.6,8,7.99,LaLiga,2015,1985.0
34766,Cristiano Ronaldo,Real Madrid,26.0,"M(L),FW",37(1),3354,46,12,4,-,6.9,80.6,0.8,11,8.28,LaLiga,2011,1985.0
37585,Cristiano Ronaldo,Real Madrid,29.0,"M(L),FW",35,3099,48,16,5,1,6.4,80.7,1.7,17,8.48,LaLiga,2014,1985.0
45604,Cristiano Ronaldo,Real Madrid,31.0,"M(L),FW",29,2544,25,6,4,-,5.6,80,1.2,4,7.61,LaLiga,2016,1985.0
47743,Cristiano Ronaldo,Real Madrid,25.0,"M(L),FW",32(2),2913,40,11,2,-,7.4,75.7,1.4,12,8.35,LaLiga,2010,1985.0
50502,Cristiano Ronaldo,Real Madrid,27.0,"M(L),FW",30(4),2721,34,10,9,-,6.9,76.7,1.6,11,8.15,LaLiga,2012,1985.0
51557,Cristiano Ronaldo,Juventus,34.0,"M(L),FW",33,2919,31,5,3,0,6.3,85.1,1.2,10,7.82,SerieA,2019,1985.0
52723,Cristiano Ronaldo,Real Madrid,32.0,"M(L),FW",27,2293,26,5,1,-,6.6,81.6,1.3,7,7.94,LaLiga,2017,1985.0
62230,Cristiano Ronaldo,Real Madrid,28.0,"M(L),FW",30,2545,31,9,4,1,7.2,80.2,1.8,10,8.27,LaLiga,2013,1985.0
69957,Cristiano Ronaldo,Real Madrid,24.0,"M(L),FW",28(1),2490,26,7,3,2,7.3,79.7,0.9,13,8.54,LaLiga,2009,1985.0
70918,Cristiano Ronaldo,Man Utd,34.0,"M(L),FW",27(3),2459,18,3,8,0,3.7,81.9,1.4,5,7.11,LaLiga,2019,1985.0

In [45]:
datasets[2].loc[datasets[2].Name== 'Kylian Mbappé']

,Name,Team,Age,Position,Apps,Minutes,Total Goals,Total Assists,Yellow cards,Red cards,Shots per game,Pass success percentage,Aerials won per game,Man of the match,Rating,League,Saison,Born
1,Kylian Mbappé,Paris Saint-Germain,20.0,"AM(LR),FW",24(5),2344,33,7,5,1,4.3,79.4,0.1,9,8.00,Ligue1,2018,1998.0
3324,Kylian Mbappé,PSG,22.0,"AM(LR),FW",27(4),2389,27,7,5,0,3.4,80.7,0.2,6,7.68,Ligue1,2020,1998.0
30682,Kylian Mbappé,PSG,21.0,"AM(LR),FW",17(3),1516,18,5,0,0,4.4,80.4,0.2,6,8.14,Ligue1,2019,1998.0
34072,Kylian Mbappé,Monaco,18.0,"AM(LR),FW",17(12),1501,15,8,2,-,1.8,73.3,0.3,5,7.22,Ligue1,2016,1998.0
38759,Kylian Mbappé,PSG,24.0,"AM(LR),FW",20(2),1742,18,3,4,0,4.2,82.7,0.3,3,7.79,Ligue1,2022,1998.0
47042,Kylian Mbappé,Paris Saint-Germain,19.0,"AM(LR),FW",24(3),2097,13,8,2,-,2.9,83.1,0.3,7,7.54,Ligue1,2017,1998.0
47049,Kylian Mbappé,Monaco,19.0,"AM(LR),FW",1,75,-,-,-,-,3,70.4,-,-,7.51,Ligue1,2017,1998.0
64949,Kylian Mbappé,Monaco,17.0,"AM(LR),FW",2(9),288,1,1,1,-,0.5,70.5,0.1,-,6.34,Ligue1,2015,1998.0
65067,Kylian Mbappé,PSG,23.0,"AM(LR),FW",34(1),3032,28,17,10,0,4.2,82.2,0.1,12,8.04,Ligue1,2021,1998.0